<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="container" id="app">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input type="text" 
                    :placeholder="placeholder"
                    :value="inputValue"
                    @:input="inputChangeHandler"
                    v-on:keypress="keypressHandler"
                    v-on:keypress.enter="addHandler">
            </div>
            <h2>You message: {{ inputValue }}</h2>
            <div class="buttons">
                            <button class="submit" v-on:click="addHandler">Submit</button>
            <button class="del" v-on:click="popHandler">Delete</button>
            </div>

        </div>
        
        <ul class="list" v-if="notes.length !== 0">
            <li class="list_item" v-for="(note, index) in notes">
                <h2>{{ toUpperCase(note) }}</h2>
                <button type="button" @:click="deleteHandler(index)">Click</button>
            </li>
            <li>
                <strong>Notes {{ notes.length }}</strong> | DoubleCount {{ doubleCount }}
                <!-- <strong>Notes {{ notes.length }}</strong> | DoubleCount {{ doubleCount() }} -->
            </li>
        </ul>

        <div v-else>
            <h2>Heshnarsa yoq toldir</h2>
        </div>

        <!-- <div class="card">
            <h1>Enumerator: {{ counter }}</h1>
            <div>
                <button class="btn btn_primary" v-on:click="counter++">+</button>
                <button class="btn btn_danger" v-on:click="counter--">-</button>
            </div>
        </div> -->
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>