* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b263b;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  width: 120px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #40916c;
  color: #40916c;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

.div-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn.primary {
  background-color: #40916c;
  border: 1px solid #40916c;
  color: white;
}

.btn.danger {
  width: 120px;
  background-color: #c1121f;
  border: 1px solid #c1121f;
  color: white
}

.form-control input {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid gray;
}

.form-control input:focus {
  border: 1px solid #40916c;
  outline: none;
}